


/* Start:/bitrix/components/bitrix/map.google.system/templates/.default/style.css*/
.bx-google-map {color: black;}
/* End */



/* Start:/bitrix/templates/bagoria/styles.css*/
.more_photo {
	float: left;
	margin-right: 10px;
	padding-bottom: 5px;
}
/* End */
/* /bitrix/components/bitrix/map.google.system/templates/.default/style.css */
/* /bitrix/templates/bagoria/styles.css */