ul.fTabs,
ul.fParams,
ul.fParams2,
.fastSearch,
.currentDiscount,
.class,
.class,
.class,
.class
{
	*zoom: expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("div") ).className="after");
}

ul.fTabs .after,
ul.fParams .after,
ul.fParams2 .after,
.fastSearch .after,
.currentDiscount .after,
.class .after,
.class .after,
.class .after,
.class .after,
.class .after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.orderCount input[type="text"] {
	width: 40px;
}

ul.productsGrid>li {
	float: left;
	width: 30%;
}
