@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* layout
body, .wrapper
	min-width: 320px

html
	&.menu-is-open
		+scroll-blocked()

.for-mob
	display: none

.wrapper select
	+media('<tab-lg')
		overflow: hidden
		display: block
		position: relative
		width: 100%
		height: 40px
		cursor: pointer
		padding: 11px 39px 11px 11px
		text-indent: 0
		text-overflow: ''
		border: 1px solid $border-color
		border-radius: 0
		+font(12px, 16px)
		white-space: nowrap
		background: white
		box-shadow: none
		outline: none

input[type="text"]
	+media('<tab-lg')
		width: 100%
		display: block
		border: 1px solid $border-color
		background: #fff
		font-family: Tahoma, sans-serif
		font-size: 12px
		line-height: 16px
		height: 40px
		color: $text-color
		padding: 11px 19px
		margin: 0
		box-shadow: none
		outline: none
		border-radius: 0
		box-sizing: border-box

/* layout end

/* header
.header
	+media('<tab-lg')
		height: $header-height--lg

	+media('<mob-lg')
		height: $header-height--sm

/* header end

/* navigation
ul.topNav
	+media('<desk-sm')
		& > li
			&, &:last-child
				margin-left: 5px
				+padding-horizontal(5px)

	+media('<tab-lg')
		display: none

.nav-mob
	display: none
	position: fixed
	+position(0)
	+size(100%)
	overflow-x: hidden
	overflow-y: auto
	z-index: 99
	background-color: $bg-color-base
	box-sizing: border-box

	&.menu-is-open
		display: block

.nav-mob-head
	+clear

.topNav-mob
	$space: 23px
	position: relative
	background-color: $base-color
	font-family: Tahoma, sans-serif
	+font(15px, 20px)

	li
		position: relative
		min-height: 50px

		a
			display: block
			position: relative
			color: white
			text-decoration: none
			padding: 15px $space

			&:hover
				text-decoration: none
				color: $base-color-alt

		&.has-drop > a
			padding-right: 65px

		&.current
			& > a
				color: $text-color
				background-color: $base-color-alt

				&::before
					display: none

			& + li > a
				&::before
					display: none

	// firs level
	& > li
		border-top: 1px solid #3a76ae

		&:first-child
			border-top: none

		& > a
			font-family: pf_dintext_probold, sans-serif
			font-size: 16px
			text-transform: uppercase

		& > ul
			display: none

			&.is-open
				display: block

	// second and lower levels
	ul
		background-color: shade($base-color, 85)

		a
			padding-left: $space*2

	// second level
	& > li > ul
		a
			&::before
				+pseudo()
				border-top: 1px solid #3a6c9b
				left: $space*2
				right: 0
				top: 0

		li:first-child
			a
				&::before
					content: none

.topNav-angle
	display: none
	position: absolute
	right: 0
	top: 0
	+font(0, 0)
	+size(50px, 50px)
	background-image: url(../../i/arr_up_white.svg) // for preload
	background-image: url(../../i/arr_dn_white.svg)
	background-position: center
	background-repeat: no-repeat
	background-size: 14px 8px
	cursor: pointer

	&::before
		$height: 22px
		+pseudo()
		height: $height
		border: solid #3a76ae
		border-width: 0 0 0 1px
		top: 50%
		margin-top: -#{round($height/2)}

	&.is-open
		background-image: url(../../i/arr_up_white.svg)

	.has-drop > &
		display: block

.nav-mob-foot
	padding: 18px 20px

	h4
		font-family: pf_dintext_proregular, sans-serif
		+font(14px, 18px)
		color: $base-color
		text-transform: uppercase
		margin-bottom: 10px
		padding: 0

.cont-list
	+font(14px, 24px)
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	& > li
		margin-bottom: 12px

		&:last-child
			margin-bottom: 0

	ul
		li
			position: relative
			padding-left: 22px

		img
			position: absolute
			left: 0
			top: 6px

/* navigation end

/* logo
.logo
	+media('<tab-lg')
		left: $header-height--lg
		top: 50%
		transform: translate($layout-space--lg, -50%)

	+media('<tab-md')
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)

	+media('<mob-lg')
		width: 153px
		background-position: center
		background-size: contain

/* logo end

/* login
.enterLink
	+media('<tab-lg')
		position: relative
		float: right
		top: auto
		right: auto
		background-image: url(../../i/login.png)
		background-repeat: no-repeat
		background-position: center
		background-color: transparent
		background-size: 20px
		padding: 0
		+size($header-height--lg)
		+font(0, 0)

		&:hover
			background-color: transparent
			background-position: center

	+media('<mob-lg')
		+size($header-height--sm)

a.userLink
	+media('<tab-lg')
		position: relative
		float: right
		top: auto !important
		right: auto
		background-image: url(../../i/login.png)
		background-repeat: no-repeat
		background-position: center
		background-color: transparent
		margin: 0
		padding: 0
		+size($header-height--lg)
		+font(0, 0)

	+media('<mob-lg')
		+size($header-height--sm)
		display: none !important

a.userLogout
	+media('<tab-lg')
		position: relative
		float: right
		top: auto !important
		right: auto
		background-image: url(../../i/logout.svg)
		background-repeat: no-repeat
		background-position: center
		background-color: transparent
		background-size: 20px
		+size($header-height--lg)
		+font(0, 0)

		img
			display: none

	+media('<mob-lg')
		+size($header-height--sm)

a.cardLink
	display: none

	+media('<tab-lg')
		display: block
		float: right
		position: relative
		top: auto !important
		right: auto
		background-image: url(../../i/cart.svg)
		background-repeat: no-repeat
		background-position: center
		background-color: transparent
		background-size: 20px
		+size($header-height--lg)
		+font(0, 0)

		img
			display: none

	+media('<mob-lg')
		+size($header-height--sm)
		display: none !important

/* login end

/* auth
.auth

	+media('<mob-lg')
		width: calc(100% - #{$layout-space--sm*2})
		top: $layout-space--sm
		right: $layout-space--sm
		box-sizing: border-box
		padding: $layout-space--sm
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.35)

		.column
			display: block
			float: none
			margin: 0 0 $bottom-space

		input[type="email"], input[type="password"]
			display: block
			box-sizing: border-box
			width: 100%

		a.btn
			margin-top: 0

		.meta
			margin: 0

		.links
			float: none
			margin-bottom: $bottom-space

			a
				margin: 0 10px 0 0

		input[type="checkbox"]
			vertical-align: top

		label
			vertical-align: top

/* auth end

/* button menu
.btn-menu
	position: absolute
	display: none

	$btn-menu-bg: $bg-color-base
	$btn-menu-color: $text-color
	$btn-menu-lines-width: 22px
	$btn-menu-lines-height: 3px
	$btn-menu-lines-space: 4px
	$btn-menu-lines-color: $base-color

	$btn-menu-cross-width: $btn-menu-lines-width
	$btn-menu-cross-height: $btn-menu-lines-height
	$btn-menu-cross-color: $btn-menu-lines-color

	=menu-btn-line()
		+size($btn-menu-lines-width, $btn-menu-lines-height)
		background-color: $btn-menu-lines-color

	=menu-btn-cross-line()
		+size($btn-menu-cross-width, $btn-menu-cross-height)
		background-color: $btn-menu-cross-color

	text-decoration: none
	color: $text-color
	+size($header-height--lg)
	background-color: $bg-color-base

	+media('<tab-lg')
		display: block

	+media('<mob-lg')
		+size($header-height--sm)

	& > span
		+hide-text
		white-space: normal

	// крест
	&::before, &::after
		+pseudo()
		+menu-btn-cross-line
		+position(50%)
		+margin($top: -#{round($btn-menu-cross-height*0.5)}, $left: -#{round($btn-menu-cross-width*0.5)})
		opacity: 0

	// бутерброд
	& > i
		position: absolute
		left: 50%
		top: 50%
		+menu-btn-line
		+margin($top: -#{round($btn-menu-lines-height*0.5)}, $left: -#{round($btn-menu-lines-width*0.5)})

		&::before, &::after
			+pseudo()
			left: 0
			+menu-btn-line

		//first line menu
		&::before
			top: -#{$btn-menu-lines-height + $btn-menu-lines-space}

		//third line menu
		&::after
			top: #{$btn-menu-lines-height + $btn-menu-lines-space}

	// hover
	.no-touchevents &:hover

		&::before, &::after
			background-color: $base-color

		& > i
			background-color: $base-color

			&::before, &::after
				background-color: $base-color

	// active
	&.menu-is-open

		&::before, &::after
			opacity: 1

		&::before
			transform: rotate(45deg) translateZ(0)

		&::after
			transform: rotate(-45deg) translateZ(0)

		& > i
			opacity: 0
			transition-delay: 0s

			&::before, &::after
				transition-delay: 0s

			&::before
				transform: translate(0, #{$btn-menu-lines-height + $btn-menu-lines-space}) translateZ(0)

			&::after
				transform: translate(0, -#{$btn-menu-lines-height + $btn-menu-lines-space}) translateZ(0)

		// hover on active
		//.no-touchevents &.active:hover

			& > i

				&::before, &::after
					background-color: $bg-color-base

/* button menu end

/* button close menu
.btn-close
	display: block
	position: relative
	float: left

	$btn-menu-bg: $bg-color-base
	$btn-menu-color: $text-color
	$btn-menu-cross-width: 22px
	$btn-menu-cross-height: 3px
	$btn-menu-lines-space: 4px
	$btn-menu-cross-color: $base-color

	=menu-btn-cross-line()
		+size($btn-menu-cross-width, $btn-menu-cross-height)
		background-color: $btn-menu-cross-color

	text-decoration: none
	color: $text-color
	+size($header-height--lg)
	background-color: $bg-color-base

	+media('<mob-lg')
		+size($header-height--sm)

	& > span
		+hide-text
		white-space: normal

	// крест
	&::before, &::after
		+pseudo()
		+menu-btn-cross-line
		+position(50%)
		+margin($top: -#{round($btn-menu-cross-height*0.5)}, $left: -#{round($btn-menu-cross-width*0.5)})

	&::before
		transform: rotate(45deg) translateZ(0)

	&::after
		transform: rotate(-45deg) translateZ(0)

/* button close menu end

/* button
a.btn
	+media('<tab-lg')
		+display-inline-block-top
		text-align: center
		padding: 8px 20px
		+font-alt-norm
		+font(14px, 24px)
		color: white
		text-transform: uppercase
		border-radius: 0
		text-shadow: none
		box-shadow: none
		border: none

		&:hover
			box-shadow: none
			text-shadow: none

		&:active
			box-shadow: none
			text-shadow: none

		&.disabled
			box-shadow: none
			text-shadow: none

	&.callme,
	&#callme
		+media('<tab-lg')
			cursor: pointer
			background: #4caf50
			text-shadow: none
			box-shadow: none
			min-width: 240px

		+media('<mob-lg')
			min-width: 0

		&:hover
			color: #fff
			background: #1b5e20
			text-shadow: none
			box-shadow: none

.resetBtn
	+media('<tab-lg')
		+display-inline-block-top
		text-align: center
		padding: 8px 20px
		+font-alt-norm
		+font(14px, 24px)
		color: $text-color
		border-radius: 0
		text-shadow: none
		box-shadow: none
		border: none
		background-color: $bg-color-alt

		&:hover
			background-color: shade($bg-color-alt, 80)

		&.disabled
			cursor: default
			color: $text-color-light

a.cartBtn
	+media('<tab-lg')
		+display-inline-block-top
		text-align: center
		padding: 0
		+font-alt-norm
		+font(14px, 24px)
		color: white
		text-transform: uppercase
		border-radius: 0
		text-shadow: none
		box-shadow: none
		border: none
		background-image: url(../../i/cart-white.svg)
		background-repeat: no-repeat
		background-position: center center
		background-size: 24px
		+size(50px, 40px)
		float: none
		text-decoration: none

		&:hover
			box-shadow: none
			text-shadow: none

		&:active
			box-shadow: none
			text-shadow: none
			background-image: url(../../i/cart-white.svg)
			background-repeat: no-repeat
			background-position: center center
			background-size: 24px

		&.disabled
			box-shadow: none
			text-shadow: none

/* button end

/* promo
.intro
	height: auto
	+clear

.intro .catalogue
	float: left
	position: relative
	left: auto
	top: auto
	box-sizing: border-box
	min-height: 0

	+media('<tab-lg')
		& ul
			display: none

	+media('<tab-md')
		width: 50%
		padding: 0

		.title
			display: none

	+media('<mob-lg')
		float: none
		width: auto

	.catalogue-mob
		display: none
		font: 15px/20px Tahoma, sans-serif

		& > div
			position: relative

			a
				color: #fff
				text-decoration: none
				display: block
				padding: 8px 30px

				&:hover
					color: #ffbf14
					text-decoration: underline

		+media('<tab-lg')
			display: block

		+media('<tab-md')
			height: 100%
			width: 100%
			display: table

			& > div
				display: table-row
				padding: 0

				a
					display: block
					display: table-cell
					vertical-align: middle
					padding: floor($layout-space--lg*0.5) $layout-space--lg
					border-top: 1px solid #004280

				&:first-child
					a
						border-top: 0

		+media('<mob-lg')
			display: block

			& > div
				display: block

				a
					display: block
					+padding-horizontal($layout-space--sm)

.promo
	display: block
	overflow: hidden
	position: relative
	top: auto
	left: auto
	right: auto
	height: auto

	.promo-list-mob
		display: none

	+media('<tab-md')
		background-image: url(../../upload/iblock/e9f3a86d1e3500f6ef8fdad72825bf49.jpg)
		background-size: cover

		& > .title, & > .caroufredsel_wrapper, & > .pagination
			display: none !important

		.promo-list-mob
			display: table
			width: 100%
			height: 100%
			counter-reset: item

			li
				display: table-row
				counter-increment: item

				a
					$space: 63px, 10px // left, right
					display: table-cell
					position: relative
					vertical-align: middle
					padding: #{nth($space, 2)} #{nth($space, 2)} #{nth($space, 2)} #{nth($space, 1)}
					font-family: pf_dintext_probold, sans-serif
					+font(16px, 18px)
					text-transform: uppercase
					color: $base-color-alt

					&::before
						+pseudo()
						margin: -1px 0 0 -36px
						vertical-align: top
						content: "0" counter(item)
						font-family: pf_dintext_proregular, sans-serif
						color: white

					&::after
						+pseudo()
						bottom: 0
						left: #{nth($space, 1)}
						right: 0
						border-top: 1px solid white
						opacity: 0.2

					&:hover
						text-decoration: none

	+media('<mob-lg')
		.promo-list-mob
			display: block

			li
				display: block

				a
					$space: 58px, 10px // left, right
					display: block
					+padding-vertical(15px)
					padding-left: #{nth($space, 1)}

					&::after
						left: #{nth($space, 1)}

ul.slides .text
	width: auto
	max-width: 600px

ol.pagination
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	box-sizing: border-box
	margin: 0
	padding: $layout-space--lg

	+media('<desk-sm')
		font-size: 15px

	li

		+media('<desk-sm')
			box-sizing: border-box
			width: 20%
			min-height: 110px

/* promo end

/* location

.location
	+media('<desk-sm')
		background-position-x: 100%

	.main
		em
			display: block
			position: relative
			left: auto
			bottom: auto
			padding-left: 20px

	+media('<tab-lg')
		background: $bg-color-base
		border-bottom: 1px solid $border-color
		box-shadow: none

		.caption, .regions .caption
			margin: 0 0 $bottom-space--sm

		.regions
			+padding-horizontal($layout-space--lg)

	+media('<tab-md')
		.main, .regions
			box-sizing: border-box
			padding: floor($layout-space--lg*0.85) floor($layout-space--lg*0.5) floor($layout-space--lg*0.6) $layout-space--lg

	+media('<mob-lg')
		.main, .regions
			float: none
			width: auto
			margin: 0
			padding: floor($layout-space--sm*0.85) $layout-space--sm floor($layout-space--sm*0.6)

		.main
			border-bottom: 1px solid $border-color

a.mark
	cursor: pointer

	+media('<tab-lg')
		margin-bottom: $bottom-space--sm
		margin-right: $grid-space--lg
		padding-left: 20px

		&, .location .main &
			&, &:hover, &.active
				background-image: url(../../i/pin.svg)
				background-position: 0 4px
				background-size: 10px 14px

			&.active
				background-image: url(../../i/pin-white.svg)
				box-shadow: -5px 0 0 $base-color-alt

		span
			+font(12px, round-float(22/12, 2))

	&.active:after
		top: 100%
		left: 50%
		transform: translate(-50%, 0)

.mapWrap
	background-image: url(../../i/img-map.jpg)
	background-repeat: no-repeat
	background-position: center
	background-color: #bbb
	background-size: cover
	top: calc(100% - 4px)

	+media('<tab-lg')
		& > img
			display: none !important

	+media('<mob-lg')
		height: 240px

.map
	+media('<mob-lg')
		height: 240px

.mapWrap, .map
	+media('<mob-lg')
		height: 240px !important
		padding: 0
		box-shadow: none

/* location end

/* services
.services
	height: auto

	ul
		li
			height: 110px
			box-sizing: border-box
			padding-right: 10px

		a
			height: auto
			+clear

		span
			width: auto
			float: none
			overflow: hidden
			margin-left: 0
			padding-left: 5px

	+media('<tab-lg')
		margin: 0 -#{$layout-space--lg}

		.advantages-title
			+padding-horizontal($layout-space--lg)
			text-align: left
			box-sizing: border-box

	+media('<tab-md')
		padding: floor($layout-space--lg*0.85) $layout-space--lg
		box-sizing: border-box

		.advantages-title
			padding: 0
			margin: 0 0 $bottom-space
			+font(36px, round-float(42/36, 2))

		.caroufredsel_wrapper
			&, & > ul, & > div
				display: block !important
				text-align: start !important
				float: none !important
				position: relative !important
				top: auto !important
				right: auto !important
				bottom: auto !important
				left: auto !important
				z-index: auto !important
				width: auto !important
				height: auto !important
				margin: 0 !important
				overflow: hidden !important
				box-sizing: border-box !important

			& > ul
				margin: 0 -#{floor($grid-space--lg/2)} !important

		ul
			li
				+display-inline-block-top
				height: auto
				width: 50% !important
				padding: 0 floor($grid-space--lg/2)
				box-sizing: border-box
				margin-top: $bottom-space

				&:nth-child(-n+2)
					margin-top: 0

				span.advs, &:last-child span.advs
					width: auto

				span.icon
					margin: 0
					padding: 0
					background-image: url(freeow/images/d_arrow.png)
					background-repeat: no-repeat
					background-position: center
					background-size: contain
					+size(20px, 16px)

				&:first-child
					span.icon
						margin: 0

		.arrow
			display: none !important

	+media('<mob-lg')
		padding: floor($layout-space--sm*0.85) $layout-space--sm
		margin: 0 -#{$layout-space--sm}

		.advantages-title
			+font($font-size-h2--sm, $line-height-h2--sm)

		ul
			li
				width: 100% !important

				&, &:nth-child(-n+2)
					margin-top: $bottom-space

				&:first-child
					margin-top: 0

/* services end

/* callback
.callback
	+media('<tab-lg')
		font-size: 14px
		line-height: 24px

.callback-title
	width: auto

	+media('<mob-lg')
		+font($font-size-h2--sm, $line-height-h2--sm)

.callback-text
	width: auto

	+media('<tab-lg')
		font-weight: normal

.callbackbtn
	width: auto

.callback-mob
	display: none

	+media('<tab-lg')
		display: block

.callback
	+media('<tab-lg')
		padding: $layout-space-v--lg $layout-space--lg $layout-space--lg
		+margin-horizontal(-#{$layout-space--lg})

		&:first-child
			margin-top: -#{$layout-space--lg}

		&:last-child, .services + &
			margin-bottom: -#{$layout-space--lg}

	+media('<mob-lg')
		padding: $layout-space-v--sm $layout-space--sm $layout-space--sm
		+margin-horizontal(-#{$layout-space--sm})

		&:first-child
			margin-top: -#{$layout-space--sm}

		&:last-child, .services + &
			margin-bottom: -#{$layout-space--sm}

/* callback end

/* content
.content
	+media('<tab-lg')
		float: none
		width: auto
		//padding: 0
		background-color: $bg-color-base

		padding: $layout-space-v--lg $layout-space--lg $layout-space--lg

		+media('<mob-lg')
			padding: $layout-space-v--sm $layout-space--sm $layout-space--sm

	h1
		+media('<tab-lg')
			margin-bottom: $bottom-space--md

/* content end

/* sidebar
.floatSidebar .content
	position: relative

	&::after
		content: ""
		display: block
		position: fixed
		+size(100%)
		+position(0)
		background-color: rgba(0, 0, 0, 0.5)
		z-index: 1
		opacity: 0
		visibility: hidden
		transition:
			property: opacity, visibility
			duration: $animation-speed

.floatSidebar.openScreenNav .content
	&::after
		opacity: 1
		visibility: visible

.sidebar
	+media('<tab-lg')
		float: none
		width: auto

	.floatSidebar &

		+media('<tab-lg')
			top: $header-height--lg + $narrowScreenNav-height
			box-shadow: none
			width: 100%
			left: 0
			opacity: 0
			visibility: hidden

			.services-2
				display: none

			.catalogue
				padding: 0
				width: auto
				top: auto
				left: auto

				.title
					display: none

				ul
					font: 15px/20px Tahoma, sans-serif

					li
						padding: 0

						&.ui-tabs-active
							a::after
								content: none

					a
						display: block
						padding: 15px 30px
						border-top: 1px solid #004280

					li:first-child
						a
							border-top: 0

		+media('<mob-lg')
			top: $header-height--sm + $narrowScreenNav-height

	.floatSidebar &.open
		+media('<tab-lg')
			opacity: 1
			visibility: visible
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.31)
			z-index: 5

/* sidebar end

/* news
.news, .news.extra
	+media('<tab-lg')
		padding: $layout-space-v--lg $layout-space--lg round($layout-space--lg*0.5)
		+clear
		+clear-spacing

		.title
			clear: both
			//float: left
			//width: 100%
			margin-bottom: $bottom-space
			+font(14px, round-float(20/14, 2))
			letter-spacing: normal

			&:last-child
				margin-bottom: 0

		article, & .extraLink
			+display-inline-block-top
			width: 25%
			margin: 0 0 $bottom-space
			+font(14px, round-float(20/14, 2))
			letter-spacing: normal
			box-sizing: border-box
			padding: 0 $grid-space--lg 0 0

			a
				display: inline
				font-weight: bold
				padding-top: $bottom-space--sm

				&:hover
					text-decoration: none

		article
			a
				&, &:hover
					color: $base-color

			time
				margin-bottom: $bottom-space--sm

		a.moreLink
			+display-inline-block-top
			+font(14px, round-float(20/14, 2))
			letter-spacing: normal
			margin: 0 0 $bottom-space

	+media('<tab-lg')
		article, & .extraLink
			+display-inline-block-top
			width: 50%

	+media('<mob-lg')
		padding: $layout-space-v--sm $layout-space--sm round($layout-space--sm*0.5)

		article, & .extraLink
			width: 100%

.news.extra
	+media('<tab-lg')
		background-color: #607384
		
		.title
			color: #a0bdd7

		.extraLink a
			color: white

/* news end

/* footer
.footer

	+media('<tab-lg')
		padding: $layout-space-v--lg $layout-space--lg #{$header-height--lg + 20}

	+media('<mob-lg')
		padding: $layout-space-v--sm $layout-space--sm #{$header-height--sm + 15}

.copy
	+media('<tab-lg')
		display: block
		float: none
		width: auto
		padding: 0
		margin-bottom: $bottom-space

ul.fNav

	+media('<tab-lg')
		float: none
		width: auto
		padding: 0
		margin: 0
		+clear

	li
		+media('<desk-sm')
			margin-right: 15px

		+media('<tab-lg')
			margin-bottom: $bottom-space

.footer .search
	+media('<tab-lg')
		float: none
		display: block
		width: auto
		box-sizing: border-box

		input[type="text"]
			display: block
			float: none
			width: 100%
			border: none
			background: #fff
			font-size: 12px
			line-height: 16px
			height: 40px
			color: $text-color !important
			padding: 12px 20px
			margin: 0
			box-shadow: none
			outline: none
			border-radius: 0
			box-sizing: border-box

		input[type="submit"]
			+size(40px)
			background: url(../../i/search.svg) no-repeat center
			background-size: 16px
			outline: none

.dev
	+media('<tab-lg')
		display: block
		float: none
		width: auto
		text-align: left

	p
		margin-bottom: $bottom-space--sm

		&:last-child
			margin-bottom: 0

/* footer end

/* cart
.cart
	.menu-is-open &
		display: none !important

	+media('<tab-lg')
		position: fixed
		left: 0
		bottom: 0
		margin-left: 0
		width: 100%
		height: auto
		z-index: 10

.cartIn
	+media('<tab-lg')
		position: relative !important
		width: auto !important
		top: auto !important
		right: auto !important
		bottom: auto !important
		left: auto !important
		height: auto
		box-sizing: border-box
		padding: round($layout-space--lg*0.6) $layout-space--lg
		border: none
		display: flex
		justify-content: space-between
		align-items: center

		.caption, .count, .amount, .delivery
			border: none
			padding: 0 $grid-space--lg 0 0
			margin: 0
			font-size: 14px
			color: $text-color
			white-space: nowrap

			a
				color: $text-color

			.for-desk
				display: none

			.for-mob
				display: inline

		.caption
			padding: 0
			padding-left: 30px
			background: url(../../i/cart-black.svg) no-repeat
			background-repeat: no-repeat
			background-position: 0 center
			background-size: 22px
			font-size: 16px
			text-transform: uppercase
			color: $text-color

	+media('<tab-md')
		.delivery
			display: none

	+media('<mob-lg')
		padding: round($layout-space--sm*0.6) $layout-space--sm

		.caption, .count, .amount, .delivery
			padding-right: $grid-space--sm

		.caption
			+font(0, 0)

		.count

			&::after
				content: "/"
				display: inline-block
				font-weight: bold
				margin-left: 6px

		.amount
			.for-mob
				display: none

/* cart end

/* productsGrid
.brand
	img
		max-width: 100%
		height: auto

ul.productsGrid
	+media('<tab-lg')
		+margin-horizontal(-#{round($grid-space--lg/2)})

	table
		+media('<tab-lg')
			display: block

			tbody
				display: block

			tr
				display: block
				display: flex
				justify-content: space-between
				align-items: center
				flex-wrap: wrap
				+clear-spacing

			td
				+display-inline-block-top
				letter-spacing: normal
				+font(12px, 16px)
				border: none
				padding: 10px 0 0

				&:first-child
					display: block
					font-size: 12px
					border-top: 1px solid $border-color
					margin-top: 10px
					width: 100%

				&:nth-child(3)
					flex: 1 1 40px
					+padding-horizontal(10px)

			tr:first-child
				td:first-child
					margin-top: 0
					padding: 0
					border: none

			input[type="text"]
				width: 100%
				text-align: center

	.caption
		+media('<tab-lg')
			margin-bottom: $bottom-space

	& > li
		+media('<tab-lg')
			border: none
			position: relative
			padding: #{round($grid-space--lg*1.5)} #{round($grid-space--lg/2)}
			margin: 0

			&::before
				+pseudo()
				top: 0
				left: #{round($grid-space--lg/2)}
				right: #{round($grid-space--lg/2)}
				border-top: 1px solid $base-color
				pointer-events: none

			&:nth-child(-n+3)
				&::before
					display: none

		+media('<tab-sm')
			width: 50%

			&:nth-child(-n+3)
				&::before
					display: block

			&:nth-child(-n+2)
				&::before
					display: none

		+media('<mob-lg')
			width: 100%

			&:nth-child(-n+2)
				&::before
					display: block

			&:nth-child(-n+1)
				&::before
					display: none

/* productsGrid end

/* narrowScreenNav
.narrowScreenNav
	+media('<tab-lg')
		position: relative
		height: $narrowScreenNav-height
		margin: -#{$layout-space-v--lg} -#{$layout-space--lg} $layout-space-v--lg
		padding: #{round($layout-space--lg*0.52)} #{$layout-space--lg}
		background-color: $base-color
		+font(12px, 18px)
		color: white
		letter-spacing: normal
		white-space: nowrap
		box-sizing: border-box
		z-index: 4
		user-select: none

		&::after
			+pseudo()
			right: $layout-space--lg
			top: 50%
			+triangle(bottom, $base-color-alt, 5px, 1.2)
			transform: translate(0, -50%)

		&.open::after
			transform: rotate(-0.5turn) translate(0, 50%)

	+media('<mob-lg')
		margin: -#{$layout-space-v--sm} -#{$layout-space--sm} $layout-space-v--sm
		padding: #{round($layout-space-v--lg*0.52)} #{$layout-space-v--sm}

		&::after
			right: $layout-space--sm

	.toggle
		overflow: hidden
		text-indent: -9999px

		+media('<tab-lg')
			position: static
			display: inline
			float: none
			+size(auto)
			margin: 0
			background: none
			color: $base-color-alt
			text-transform: uppercase
			+font-alt-norm
			+font(14px, 18px)
			text-indent: 0

			&::before
				+pseudo()
				left: 0
				top: 0
				right: 0
				bottom: 0

	.currentPart
		+media('<tab-lg')
			display: inline
			float: none
			+size(auto)
			padding: 0
			margin: 0
			background: none
			+font(12px, 18px)
			color: white

/* narrowScreenNav end

/* fTabs
ul.fTabs
	+clear-spacing
	line-height: 0

	li, li.ui-tabs-active
		box-sizing: border-box
		+font(12px, 16px)
		letter-spacing: normal
		+display-inline-block-top
		float: none
		padding: 0
		border: 1px solid $base-color-alt
		box-shadow: 1px 0 0 $base-color-alt
		border-right: none
		margin: 0 0 -1px

		a
			display: block
			padding: 12px 10px
			border: none

		&:last-child
			border-right: 1px solid $base-color-alt
			box-shadow: none

		&:first-child
			border: 1px solid $base-color-alt
			border-right: none

		+media('<mob-lg')
			width: 50%

/* fTabs end

/* filterBlock
.filterBlock
	+media('<tab-lg')
		padding: $grid-space--lg
		border: none

	.fParams, .fParams2, .fastSearch
		+media('<tab-lg')
			+margin-horizontal(-#{$grid-space--lg})
			margin-bottom: $grid-space--lg
			border-bottom: 1px solid #e6ad12
			box-sizing: border-box

	.fParams, .fParams2
		+media('<tab-lg')
			padding-right: $grid-space--lg
			+clear-spacing

		li
			+media('<tab-lg')
				+display-inline-block-top
				box-sizing: border-box
				margin: 0
				padding: 0 0 $grid-space--lg $grid-space--lg
				width: 33.3%
				letter-spacing: normal
				line-height: 1

			+media('<tab-sm')
				width: 50.0%

			+media('<mob-lg')
				width: 100.0%

	ul.fParams2
		span
			+media('<tab-lg')
				+display-inline-block-top
				margin: 0 5px 0 0

				& + label
					margin: 0
					line-height: 16px

	select
		border-color: transparent

	.label, label
		+media('<tab-lg')
			font-size: 13px
			letter-spacing: normal
			padding: 0
			margin-bottom: 5px

	.fastSearch
		+media('<tab-lg')
			padding: 0 $grid-space--lg $grid-space--lg

	a.btn
		+media('<tab-lg')
			position: relative
			bottom: auto
			right: auto

	.resetBtn
		+media('<tab-lg')
			position: relative
			bottom: auto
			right: auto
			margin-right: 10px

/* filterBlock end

.fastSearch
	input[type="text"]
		+media('<tab-lg')
			width: 200px
			display: block
			border: none
			background: #fff
			font-size: 12px
			line-height: 16px
			height: 40px
			color: $text-color !important
			padding: 12px 20px
			margin: 0
			box-shadow: none
			outline: none
			border-radius: 0
			box-sizing: border-box

		+media('<mob-lg')
			width: 100%
			margin-bottom: $bottom-space--sm

	.ex
		+media('<tab-lg')
			line-height: 40px

		+media('<mob-lg')
			line-height: 16px
			margin-left: 0
			padding-left: 0

select.chained_select_db.forward_select
	+media('<tab-lg')
		width: 100%

/* catalog_sort_by
.catalog_sort_by
	+media('<tab-lg')
		//margin-top: 0
		margin-bottom: $bottom-space

	& > span
		+media('<tab-lg')
			display: block
			margin-bottom: 5px

/* catalog_sort_by end

/* paging
ul.paging
	margin: 0 180px

	+media('<mob-lg')
		margin: 0 0 $bottom-space--sm -7px
		text-align: left

	li
		+media('<tab-lg')
			font-size: 14px
			+margin-horizontal(7px)

			&.current
				+margin-horizontal(0)
				+padding-horizontal(7px)

		+media('<mob-lg')
			display: none

			&.current, &.prev_, &.next_
				display: inline-block

ul.display
	+media('<tab-lg')
		font-size: 14px

	+media('<mob-lg')
		float: none
		+clear
		margin-bottom: $bottom-space--sm
		margin-left: -7px

ul.view
	+media('<tab-lg')
		font-size: 14px

	+media('<mob-lg')
		float: none
		margin-bottom: $bottom-space--sm
		+clear

.finedCount
	+media('<tab-lg')
		position: relative
		right: auto
		font-size: 14px

	+media('<mob-lg')
		float: none
		text-align: right
		margin-bottom: $bottom-space--sm
		+clear

/* paging end

/* counter
.counter
	+media('<tab-lg')
		width: 94px

	input[type="text"]
		+media('<tab-lg')
			padding: 1px 4px
			text-align: center
			height: 22px

	a
		+media('<tab-lg')
			border: none
			border-radius: 0
			box-shadow: none
			+size(22px)
			line-height: 18px

			&:hover, &:active
				box-shadow: none

/* counter end